header {
    font-size: 300%;
    padding: 80px;
    text-align: center;
    background: red;
    color: #fff;
}

/* above: basic css to make the header. this is the original css file used by the app to generate the html file */